/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Thin"), local("Gilroy-Thin"),
    url("../fonts/Gilroy-Thin.woff2") format("woff2"),
    url("../fonts/Gilroy-Thin.woff") format("woff");

  font-weight: 100;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-weight: normal;
  color: #1f3f68;
}
button {
  border: none;
}
img {
  max-width: 100%;
  height: auto;
}
.button-standart {
  width: 220px;
  height: 56px;
  background: #5a98d0;
  border-radius: 10px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-standart:hover {
  color: #98c3e8;
  background: #356ead;
}
.homepage {
  max-width: 1366px;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 0 auto;
  background: #ffffff;
}
/* общий header */
.main-backgroung {
  display: block;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(8.84%, rgba(152, 195, 232, 0.2)),
    color-stop(31.12%, rgba(152, 195, 232, 0))
  );
  background: -o-linear-gradient(
    bottom,
    rgba(152, 195, 232, 0.2) 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  background: linear-gradient(
    0deg,
    rgba(152, 195, 232, 0.2) 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}
/* header */
header {
  width: 87.84773060029283%;
  height: 48px;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  width: 48px;
  height: 48px;
  background: url(../img/svg/logo_top.svg) no-repeat left center;
  cursor: pointer;
}
.header__right-menu {
  width: 32px;
  height: 32px;
  background: url(../img/svg/right_menu.svg) no-repeat left center;
  cursor: pointer;
}
/* конец кода header */
/* верхний main */
.main_container {
  background: url(../img/svg/section_bg.svg) no-repeat right 20px bottom 53px;
  height: 680px;
}
.main-section-top {
  display: inline-block;
  margin-top: 98px;
  margin-left: 212px;
}
.main-section-top h1 {
  width: 550px;
  font-family: Galien;
  font-size: 55px;
  line-height: 74px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 35px;
}
.main-section-top p {
  width: 425px;
  opacity: 0.6;
  margin-bottom: 71px;
}
/* конец кода верхнего main */
/* средний main */
.main-section-middle__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 80px) minmax(380px, 480px) 380px;
  grid-template-columns: minmax(0, 80px) minmax(380px, 480px) 380px;
  -ms-grid-rows: 296px 329px 200px 330px;
  grid-template-rows: 296px 329px 200px 330px;
}
.main-section-middle__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.main-section-middle__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.main-section-middle__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.main-section-middle__grid > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.main-section-middle__grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.main-section-middle__grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.main-section-middle__grid > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.main-section-middle__grid > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.main-section-middle__grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.main-section-middle__grid > *:nth-child(10) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.main-section-middle__grid > *:nth-child(11) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.main-section-middle__grid > *:nth-child(12) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.main-section-middle__subtitle {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
}
.technology_grid1 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
.technology_grid2 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 2;
  grid-row-end: 4;
}
.technology_grid3 {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 2;
  grid-row-end: 5;
}
.main-section-middle {
  max-width: 940px;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 0 auto;
  padding-top: 192px;
  padding-bottom: 208px;
}
.main-section-middle__subtitle {
  width: 400px;
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}
.technology {
  width: 380px;
  height: 525px;
  padding: 0 48px;
  background: #ffffff;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.technology1__pic1 {
  margin: -18px 50px 41px 18px;
}
.technology2__pic2 {
  margin: 52px 76px 47px 18px;
}
.technology3__pic3 {
  margin: 52px 76px 47px 38px;
}
.technology h3 {
  width: 290px;
  margin-bottom: 16px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1f3f68;
}
.technology p {
  width: 284px;
  margin-bottom: 32px;
  opacity: 0.6;
}
.technology a {
  display: inline-block;
  padding-right: 48px;
  text-decoration: none;
  height: 30px;
  font-family: Gilroy;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  background: url(../img/svg/arrow.svg) no-repeat right center;
}
/* конец кода среднего main */
/* нижний main */
.main-section-bottom {
  max-width: 1366px;
  width: 100%;
  height: 680.8px;
  background: #5a98d0;
  border-radius: 200px 0px 0px 0px;
}
.main-section-bottom__grid {
  max-width: 860px;
  width: 100%;
  height: 100px;
  margin: 0px 0px 100px 213px;
  padding-top: 95px;
  padding-bottom: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.main-section-bottom__grid h2 {
  max-width: 243px;
  width: 100%;
  margin-bottom: 111px;
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.main-section-bottom__grid p {
  max-width: 540px;
  width: 100%;
  color: #ffffff;
  opacity: 0.6;
  margin: 0 auto;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 296px 329px 200px 330px;
  grid-template-rows: 296px 329px 200px 330px;
}
.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.grid > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.grid > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.grid > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.grid > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.grid > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.grid > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.grid > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.main-section-bottom__grid p {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 3;
  grid-column-end: 5;
}
.main-section-bottom__grid {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}
.main-section-bottom__grid button {
  max-width: 235px;
  width: 100%;
  height: 128px;
  border: 1px solid #ffffff;
  border-top: none;
  border-left: none;
  text-align: center;
  background: #5a98d0;
}
.main-section-bottom__grid button a {
  text-decoration: none;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-section-bottom__grid .btn4 {
  border-right: none;
}
.main-section-bottom__grid .btn5,
.main-section-bottom__grid .btn6,
.main-section-bottom__grid .btn7 {
  border-bottom: none;
}
.main-section-bottom__grid .btn8 {
  background: #1f3f68;
  opacity: 0.2;
  text-transform: none;
  border-right: none;
  border-bottom: none;
}
.main-section-bottom__grid .btn8 a {
  text-transform: none;
}
/* конец кода нижнего main */
/* footer */
.footer_homepage {
  max-width: 1366px;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 0 auto;
  background: #5a98d0;
}
.footer {
  max-width: 1270px;
  width: 100%;
  height: 869px;
  padding-top: 89px;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
}
.footer__top-panel {
  max-width: 460px;
  width: 100%;
}
.footer__top-panel h2 {
  width: 327px;
  margin-bottom: 32px;
  font-family: Gilroy;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__top-panel p {
  width: 460px;
  color: #ffffff;
  opacity: 0.6;
}
.footer__border {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.contacts {
  text-decoration: none;
  width: 100%;
  max-width: 380px;
}
.footerlink {
  display: inline-block;
  padding-left: 63px;
  height: 30px;
  text-decoration: none;
  width: 125px;
  height: 46px;
  font-family: Gilroy;
  font-size: 28px;
  line-height: 46px;
  font-weight: 550;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: url(../img/svg/logo_footer.svg) no-repeat left center;
  margin-bottom: 33px;
}
ul,
ol {
  padding-left: 0;
  margin-left: 0;
}
.contacts__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35px 265px;
  grid-template-columns: 35px 265px;
  -ms-grid-rows: 72px 50px 26px;
  grid-template-rows: 72px 50px 26px;
  margin-bottom: 65px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.contacts__table > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.contacts__table > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.contacts__table > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.contacts__table > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.contacts__table > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.contacts__table > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.contacts__table_strong {
  font-weight: 550;
}
.footer__about-us {
  width: 220px;
}
.footer__about-us h3 {
  width: 110px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
  color: #ffffff;
}
.footer__about-us li {
  margin-bottom: 16px;
  list-style-type: none;
}
.footer__about-us a {
  width: 170px;
  text-decoration: none;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__socialmedia {
  width: 220px;
}
.footer__socialmedia h3 {
  width: 100px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
  color: #ffffff;
}
.footer__socialmedia li {
  margin-bottom: 16px;
  list-style-type: none;
}
.footer__socialmedia a {
  width: 49px;
  text-decoration: none;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.footer__copyright {
  width: 300px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}
.logo {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 15.67%;
  right: 80.82%;
  top: 3490px;
  bottom: 7.36%;
}
.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(0, 213px) minmax(300px, 400px) minmax(175px, 240px)
    220px minmax(20px, 140px);
  grid-template-columns:
    minmax(0, 213px) minmax(300px, 400px) minmax(175px, 240px)
    220px minmax(20px, 140px);
  -ms-grid-rows: 302px 94px 291px auto;
  grid-template-rows: 302px 94px 291px auto;
}
.footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.footer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.footer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.footer > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.footer > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.footer > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.footer > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.footer > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.footer > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.footer > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.footer > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.footer > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.footer > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.footer > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.footer > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.footer > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.footer > *:nth-child(17) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.footer > *:nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.footer > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.footer > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
.footer__top-panel {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 2;
  grid-column-end: 4;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}
.footer button {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  margin-top: 76px;
}
.footer__border {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}
.contacts {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}
.footer__about-us {
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}
.footer__socialmedia {
  -ms-grid-column: 4;
  grid-column-start: 4;
  -ms-grid-column-span: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
}
.footer__copyright {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
}
/* конец кода footer */
/* вторая страница */
.contact-us {
  background: #ffffff;
  max-width: 1366px;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 0 auto;
}
.banner {
  background: url(../img/jpg/MaskGroup.jpg) no-repeat left center;
  max-width: 1366px;
  width: 100%;
  height: 250px;
  margin: 42px auto 0;
  padding-top: 47px;
}
.banner h2 {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0px auto 18px;
  font-family: Gilroy;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.banner p {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}
.panels {
  top: 436px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 58px auto 10px;
}
.first-panel {
  width: 400px;
  height: 800px;
  background: #ffffff;
}
.first-panel ul {
  list-style-type: none;
}
.first-panel__pic {
  width: 300.31px;
  margin: 62px 88.69px 61px 11px;
}
.first-panel h3 {
  margin-bottom: 24px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.first-panel ul {
  margin-bottom: 40px;
}
.first-panel p {
  width: 290px;
  margin-bottom: 40px;
}
.first-panel li {
  margin-bottom: 16px;
}
.first-panel a {
  text-decoration: none;
}
.first-panel__phonelink {
  padding-left: 40px;
  background: url(../img/svg/ic_phone_24px.svg) no-repeat left center;
}
.first-panel__contlink {
  padding-left: 40px;
  background: url(../img/svg/ic_language_24px.svg) no-repeat left center;
  color: #1f3f68;
}
.first-panel__emaillink {
  padding-left: 40px;
  background: url(../img/svg/ic_email_24px.svg) no-repeat left center;
}
.second-panel {
  padding: 54px;
  width: 540px;
  height: 800px;
  background: #ffffff;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.second-panel h3 {
  margin-bottom: 50px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
}
.second-panel p {
  margin-bottom: 10px;
}
.second-panel input {
  width: 428px;
  height: 72px;
  opacity: 0.4;
  border: 1px solid #356ead;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 32px;
  padding: 21px 36px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1f3f68;
  opacity: 0.2;
}
.second-panel input:last-of-type {
  height: 144px;
}
.second-panel__button {
  width: 428px;
  height: 72px;
  margin-top: 45px;
  text-transform: uppercase;
}
.map {
  display: block;
  margin: 95px auto;
  padding: 0 30px;
}
.footer_contact-us {
  max-width: 1366px;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  margin: 0 auto;
}
/* конец второй страницы */
@media (max-width: 768px) {
  /* верхний main */
  .main_container {
    height: 460px;
    background: none;
  }
  .main-section-top {
    display: block;
    z-index: 1;
    margin: 51px auto 0;
    text-align: center;
  }
  .main-section-top h1 {
    max-width: 425px;
    width: 100%;
    font-size: 36px;
    line-height: 46px;
    margin: 0 auto 35px;
  }
  .main-section-top p {
    max-width: 425px;
    width: 100%;
    margin: 0 auto 71px;
  }
  /* конец кода верхнего main */
  /* средний main */
  .main-section-middle__grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: 380px;
    grid-template-columns: 380px;
    -ms-grid-rows: 150px 535px 535px 535px;
    grid-template-rows: 150px 535px 535px 535px;
  }
  .main-section-middle__grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main-section-middle__grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .main-section-middle__grid > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .main-section-middle__grid > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .main-section-middle {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-section-middle__subtitle {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
  }
  .technology_grid1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  .technology_grid2 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  .technology_grid3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
  /* конец кода среднего main */
  /* нижний main */
  .main-section-bottom {
    border-radius: 0;
  }
  .main-section-bottom__grid {
    max-width: 705px;
    width: 100%;
    display: -ms-grid;
    display: grid;
    text-align: center;
    margin-left: 0px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 296px 329px 200px 330px;
    grid-template-rows: 296px 329px 200px 330px;
  }
  .grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .grid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .grid > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .grid > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .grid > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .grid > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .grid > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .grid > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .main-section-bottom__grid h2 {
    text-align: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    margin: 0 auto 20px;
    font-size: 20px;
    line-height: 30px;
  }
  .main-section-bottom__grid p {
    text-align: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    margin-bottom: 20px;
  }
  .main-section-bottom__grid .btn4,
  .main-section-bottom__grid .btn5,
  .main-section-bottom__grid .btn6 {
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
  }
  .main-section-bottom__grid .btn3,
  .main-section-bottom__grid .btn6 {
    border-right: none;
  }
  .main-section-bottom__grid .but7 {
    border-bottom: none;
  }
  /* конец кода нижнего main */
  /* footer */
  .footer {
    height: 1109px;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    -ms-grid-columns: minmax(20px, 213px) minmax(220px, 376px)
      minmax(155px, 240px) minmax(20px, 240px);
    grid-template-columns:
      minmax(20px, 213px) minmax(220px, 376px) minmax(155px, 240px)
      minmax(20px, 240px);
    -ms-grid-rows: 256px 100px 50px 280px 260px;
    grid-template-rows: 256px 100px 50px 280px 260px;
  }
  .footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .footer > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .footer > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  .footer > *:nth-child(13) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(14) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(15) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(16) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
  .footer > *:nth-child(17) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(18) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(19) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(20) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
  }
  .footer button {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    margin: 0px auto;
  }
  .footer__border {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  .contacts {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
  .footer__about-us {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
  .footer__socialmedia {
    -ms-grid-column: 3;
    grid-column-start: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 4;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
  .footer__copyright {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
  .footer__top-panel h2 {
    width: 100%;
    max-width: 768px;
    color: #ffffff;
    text-align: center;
  }
  .footer__top-panel p {
    width: 100%;
    max-width: 768px;
    color: #ffffff;
    opacity: 0.6;
    text-align: center;
  }
  /* конец кода footer */
  /* вторая страница */
  .banner {
    padding-top: 15px;
  }
  .banner h2 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0px auto 18px;
    font-family: Gilroy;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  /* вторая страница */
}
@media (max-width: 480px) {
  /* средний main */
  .main-section-middle {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-section-middle__subtitle {
    width: 290px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
  }
  /* конец кода среднего main */
  /* нижний main */
  .main-section-bottom {
    height: 770px;
  }
  .main-section-bottom__grid {
    display: -ms-grid;
    display: grid;
    text-align: center;
    margin-left: 0px;
    padding-top: 40px;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .main-section-bottom__grid h2 {
    text-align: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    margin: 0 auto 20px;
  }
  .main-section-bottom__grid p {
    text-align: center;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    margin-bottom: 20px;
  }
  .main-section-bottom__grid button a {
    font-size: 16px;
    line-height: 26px;
  }
  .main-section-bottom__grid .btn3 {
    border-right: 1px solid #ffffff;
  }
  .main-section-bottom__grid .btn5,
  .main-section-bottom__grid .btn6 {
    border-top: none;
    border-left: none;
  }
  .main-section-bottom__grid .btn2,
  .main-section-bottom__grid .btn4,
  .main-section-bottom__grid .btn6 {
    border-right: none;
  }
  /* конец кода нижнего main */
  /* footer */
  .footer {
    height: 1389px;
    display: -ms-grid;
    display: grid;
    padding-top: 50px;
    border-radius: 0;
    -ms-grid-columns: minmax(20px, 213px) minmax(220px, 376px)
      minmax(20px, 240px);
    grid-template-columns:
      minmax(20px, 213px) minmax(220px, 376px)
      minmax(20px, 240px);
    -ms-grid-rows: 296px 100px 50px 280px 280px 260px;
    grid-template-rows: 296px 100px 50px 280px 280px 260px;
  }
  .footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .footer > *:nth-child(16) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .footer > *:nth-child(17) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  .footer > *:nth-child(18) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }
  .footer__top-panel {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    text-align: center;
    margin: 0 auto;
    margin: 0 auto 20px;
  }
  .footer__top-panel h2 {
    font-size: 28px;
    line-height: 46px;
  }
  .footer button {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    margin: 0px auto;
  }
  .footer__border {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-column-end: 4;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  .contacts {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
  .footer__about-us {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 5;
    grid-row-start: 5;
    -ms-grid-row-span: 1;
    grid-row-end: 6;
  }
  .footer__socialmedia {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 6;
    grid-row-start: 6;
    -ms-grid-row-span: 1;
    grid-row-end: 7;
  }
  .footer__copyright {
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 7;
    grid-row-start: 7;
    -ms-grid-row-span: 1;
    grid-row-end: 8;
  }
  .footer__top-panel p {
    width: 100%;
    max-width: 460px;
    color: #ffffff;
    opacity: 0.6;
    margin: 0 auto;
  }
  /* конец кода footer */
  /* вторая страница */
  .first-panel {
    padding-left: 20px;
  }
  /* вторая страница */
}
